<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary | GUDLFT Registration</title>
</head>
<body>
        <h2>Welcome, {{club['email']}} </h2><a name='_logout' href="{{url_for('logout')}}">Logout</a>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
       {% for message in messages %}
            <li>{{message}}</li>
        {% endfor %}
       </ul>
    {% endif %}
    <p name='club_points'>Points available: {{club['points']}} </p>
    <hr />
    <h3>Competitions:</h3>
    <ul>
        {% for comp in competitions %}
        <li>
            {{comp['name']}}<br />
            Date: {{comp['date']}}</br>
            <p name="{{comp['name']}}_points">Number of Places: {{comp['numberOfPlaces']}}</p>
            {% if comp['date'] < date_time %}
            <p style='color:red';> Competition has expired </p>
            {% elif comp['numberOfPlaces']|int >0 %}
            <a name="{{comp['name']}}_places" href="{{ url_for('book',competition=comp['name'],club=club['name']) }}">Book Places</a>
            {% elif comp['numberOfPlaces']|int <0 %}
            <p style='color:red';>">Competition is full</p>
            {% endif %}
        </li>
        <hr />
        {% endfor %}
    </ul>
    <hr />
    <a href="{{url_for('displayPoints')}}"><h3>Points Board:</h3></a>
    <ul>
        {% for c in clubs %}
        <li>
           {{c['name']}} : {{c['points']}}
        </li>
        {% endfor %}
    </ul>
    {%endwith%}

</body>
</html>